.ActionButton {
  padding: 10px 30px;
  border-width: 0;
  margin: 0 10px;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #56615b;
  color: #ecf0f1;
  transition: background-color 0.5s;
}

/* .ActionButton:focus {
  background-color: #27ae60;
} */

.ActionButton:hover {
  background-color: #5a836b;
}

@media only screen and (max-width: 450px) {
  .ActionButton {
    margin-top: 8px;
    margin-left: 0;
    margin-bottom: 8px;
    width: 65%;
    min-width: 80px;
  }
}
